<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Styleguide</label>

    <version>1.2.0</version>
    <link>https://www.sommerlaune.com/</link>
    <author>Ben Zörb</author>
    <compatibility minVersion="5.2.0"/>

    <changelog version="0.1.0">
        <changes lang="en">Initial version.</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="en">First stable release</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="en">Minor bugfixes</changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="en">Minor bugfixes</changes>
    </changelog>
    <changelog version="1.0.3">
        <changes lang="en">Minor bugfixes</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="en">Minor bugfixes</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes lang="en">Better cache handling</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="en">Fixed indentation for markup and smarty</changes>
    </changelog>
</plugin>