.sg-styleguide {
  color: #333;
  padding-top: 64px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  svg {
    max-width: 100%;
  }

  hr {
    height: 1px;
    margin: 0;
    border: 0;
    border-top: 1px solid #ccc;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: #efefef;
  }

  @media (min-width: 48rem) {
    padding-left: 28px;
    padding-right: 28px;
  }
}

.sg-h1,
.sg-h2,
.sg-p {
  font-weight: 300;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
}

.sg-h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.sg-h1 + .sg-p {
  margin-top: -2rem;
  margin-bottom: 3rem;
}

.sg-subline {
  font-size: 20px;
  color: #999;
}

.sg-h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sg-h2 > a {
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}

.sg-h2 > a:before {
  content: '#';
  margin-left: -1.2rem;
  padding-right: 0.2rem;
  color: #999;
  font-size: 90%;

  @media (min-width: 48rem) {
    margin-left: -1.5rem;
    padding-right: 0.5rem;
  }
}

.sg-p {
  margin-bottom: 1.5rem;
}

.sg-mb {
  margin-bottom: 2rem;
}

.sg-mt {
  margin-top: 2rem;
}

.sg-styleguide__section {
  margin-bottom: 4rem;

  > h2 {
    margin: 0;
    line-height: 40px;
    margin-bottom: 2rem;
  }
}

.sg-tabs {
  display: flex;
  flex-wrap: wrap;

  margin: 1.5rem 0 1.5rem -20px;
  padding: 0;
  list-style: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  > li {
    flex: none;
    padding-left: 20px;
    position: relative;
  }

  > li > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border-bottom: 2px solid transparent;
    font-size: 12px;
    text-transform: uppercase;
    transition: color 0.1s ease-in-out;
    line-height: 20px;
  }

  .sg-active > a {
    color: #222;
    border-color: #000000;
  }
}

.sg-switch {
  margin: 1.5rem 0 0 0;
  padding: 0;
  list-style: none;

  > :not(.sg-active) {
    display: none;
  }
}

.sg-component__code,
.sg-component__component {
  margin-bottom: 1rem;
}

.sg-preview {
  margin: 0.25rem 0;

  &--flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.sg-component__doc {
  font-size: 14px;
  padding: 16px 4px;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
  }

  p,
  pre {
    margin-top: 0;
    margin-bottom: 0;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: transparent;
  }

  pre {
    margin-bottom: 0.375rem;
    padding: 0;
  }

  p,
  code,
  pre {
    font-size: inherit;
  }

  ul {
    margin-left: 0.5rem;
    padding-left: 0;
  }

  li {
    list-style: none;

    &:before {
      content: '– ';
    }
  }

  ul,
  ol {
    padding-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.sg-switch .sg-component__doc {
  padding-top: 0;
  padding-bottom: 0;
}

/*
Section styling (required)
Removes hidden sections from the keychain.
Only used when JavaScript is available.
*/
[role='tabpanel'][aria-hidden='true'] {
  display: none;
}
